html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#terminal {
    height: 100%;
}

.terminal {
    --size: 1.6;
    --color: #cdd6f4;
    --background: #1e1e2e;
}

.terminal-spinner::after {
    content: "⠋";
    display: inline-block;
    color: #40a02b;
    animation: spinner 0.8s steps(1) infinite;
}

@keyframes spinner {
    0%      { content: "⠋"; }
    10%     { content: "⠙"; }
    20%     { content: "⠹"; }
    30%     { content: "⠸"; }
    40%     { content: "⠼"; }
    50%     { content: "⠴"; }
    60%     { content: "⠦"; }
    70%     { content: "⠧"; }
    80%     { content: "⠇"; }
    90%     { content: "⠏"; }
}
